@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the era of ASP.Net MVC core</h1>
    <h2>This is the first MVC application</h2>
    <h3>Enjoy building web apps with ASP.Net MVC core</h3>  
    <h4>We are learning ASP.Net core MVC 9</h4>
</div>
